@mixin sexyTitle {
  color: $bg;
  font-size: 50px;
  margin-bottom: 12px;
  font-weight: bold;
}

@mixin link($word) {
  text-decoration: none;
  margin: 10px 0;
  font-size: 50px;
  font-weight: bold;
  margin-right: 30px;
  transition: color 0.5s ease-in-out;
  &:hover {
    color: $bg;
    text-decoration: underline;
  }
  @if $word == "odd" {
    color: blueviolet;
  } @else {
    color: blue;
  }
}
//content
$minIphone: 500px;
$maxIphone: 690px;
$minTablet: $minIphone + 1;
$maxTablet: 1120px;

@mixin responsive($device) {
  @if $device == "iphone" {
    @media screen and (min-width: $minIphone) and (max-width: $maxIphone) {
      @content;
    }
  } @else if $device == "tablet" {
    @media screen and (min-width: $minTablet) and (max-width: $maxTablet) {
      @content;
    }
  } @else if $device == "iphone-l" {
    @media screen and (max-width: $minIphone) and (max-width: $maxIphone) and (orientation: landscape) {
      @content;
    }
  } @else if $device == "ipad-l" {
    @media screen and (min-width: $minTablet) and (max-width: $maxTablet) and (orientation: landscape) {
      @content;
    }
  }
}
